<header>
  <nav class="navbar">
    <div class="container flex flex-wrap justify-between items-center mx-2.5">
      <!-- 左側: プライバシーポリシー、利用規約、お問い合わせ -->
      <div class="flex space-x-4 mb-2 sm:mb-0">
        <a href="/privacy-policy" target="_blank" class="btn btn-sm text-sm text-gray-700 hover:text-blue-500">
          プライバシーポリシー
        </a>
        <a href="https://www.kiyac.app/termsOfService/OvdcxOC4vkaK7r0JooHF" target="_blank" class="btn btn-sm text-sm text-gray-700 hover:text-blue-500">
          利用規約
        </a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeeUJ0yZ74kHU2InFHh-z-2Ci458mtWkxCp3N1ojaFkHrusGA/viewform?usp=header" target="_blank" class="btn btn-sm text-sm text-gray-700 hover:text-blue-500">
          お問合せ
        </a>
      </div>

      <!-- 中央: タイトル -->
      <div class="navbar-brand flex justify-center items-center w-full sm:w-auto mb-2 sm:mb-0">
        <h1 class="font-bold text-xl sm:text-2xl">GAMES_MEMORY</h1>
      </div>

      <div class="login flex items-center space-x-2.5">
        <!-- ログイン状態に応じた表示 -->
        <% if user_signed_in? %>
          <!-- ユーザーアイコン -->
          <div class="user-icon">
            <%= link_to "プロフィールへ", post_path(current_user), class: "btn btn-primary" %>
          </div>
        <% else %>
          <!-- ログインボタン -->
          <%= button_to safe_join([
            image_tag("https://img.icons8.com/external-those-icons-flat-those-icons/24/external-Google-logos-and-brands-those-icons-flat-those-icons.png", width: 20, height: 20, alt: "Googleログイン", class: "inline-block"),
            content_tag(:span, "ログイン", class: "text-xs text-brack font-light")
          ]), user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "btn btn-sm gap-1 font-semibold rounded-full bg-white hover:border-orange-500 hover:bg-white drop-shadow-md hover:drop-shadow-none" %>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <%= link_to '動画投稿', new_post_path, class: 'btn btn-primary' %>
        <%= link_to 'スレッド投稿', new_sureddo_path, class: 'btn btn-primary' %>
      <% end %>
      <div class="notification-icon">
        <%= link_to notifications_path, class: "btn btn-sm text-sm text-gray-700 hover:text-blue-500" do %>
          <i class="fas fa-bell text-xl"></i> <!-- 通知アイコン（FontAwesomeなどを使用） -->
        <% end %>
      </div>
    </div>
  </nav>
</header>