<h3>投稿の編集</h3>

<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :description, '説明欄' %>
    <%= form.text_area :description, class: 'form-control', required: true %>
  </div>

<p>YouTubeの動画URLと動画ファイルを同時に選択出来ます!</p>
<p>どちらとも入力していない場合は更新出来ません！！</p>

  <div>
    <%= form.label :video_url, "YouTubeの動画URL" %>
    <%= form.text_field :video_url %>
    <small>例: https://www.youtube.com/watch?v=XXXXXX</small>
  </div>

  <div>
    <%= form.label :video_file, "動画ファイルをアップロード" %>
    <%= form.file_field :video_file %>
  </div>

  <div class="actions">
    <%= form.submit "更新", class: 'btn btn-primary' %>
  </div>
<% end %>
