<h3>投稿の編集</h3>

<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :説明欄 %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :youtube_url %>
    <%= form.text_field :video_url %>
  </div>

  <div class="field">
    <%= form.label :動画ファイル %>
    <%= form.file_field :video_file %>
  </div>

  <div class="actions">
    <%= form.submit "更新", class: 'btn btn-primary' %>
  </div>
<% end %>
