<%= render 'shared/header' %>

<div class="container mx-auto px-4 max-w-2xl">
  <div class="flex flex-col sm:flex-row justify-center items-center space-x-10 mx-auto my-8 w-full">
    <%= link_to 'スレッド一覧', sureddos_path, class: 'btn btn-primary' %>
    <%= render 'posts/search_form' %>
  </div>
</div>

<div class="flex mt-8">
  <!-- 左側のジャンルリスト -->
  <div class="w-1/4 p-4">
    <h4 class="text-base font-semibold mb-6">ジャンル</h4>
    <ul class="space-y-4">
      <li><%= link_to 'PS 3', posts_path(tag_list: 'PlayStation 3'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to 'PS 4', posts_path(tag_list: 'PlayStation 4'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to 'PS 5', posts_path(tag_list: 'PlayStation 5'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to 'Switch', posts_path(tag_list: 'Switch'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to 'Wii', posts_path(tag_list: 'Wii'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to '3DS', posts_path(tag_list: '3DS'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to 'PC', posts_path(tag_list: 'PC'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to 'その他', posts_path(tag_list: 'その他'), class: 'text-blue-500 hover:underline' %></li>
    </ul>
    <h4 class="text-base font-semibold mt-8 mb-6">その他</h4>
    <ul class="space-y-4">
      <li><%= link_to 'プライバシーポリシー', '/privacy-policy', class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to '利用規約', 'https://www.kiyac.app/termsOfService/OvdcxOC4vkaK7r0JooHF', target: '_blank', class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to 'お問合せ', 'https://docs.google.com/forms/d/e/1FAIpQLSeeUJ0yZ74kHU2InFHh-z-2Ci458mtWkxCp3N1ojaFkHrusGA/viewform?usp=header', target: '_blank', class: 'text-blue-500 hover:underline' %></li>
    </ul>
  </div>

  <!-- 右側の動画投稿一覧 -->
  <div class="w-3/4 p-4">
    <h3 class="text-2xl font-semibold mb-6">動画投稿一覧！</h3>

    <% if params[:query].present? %>
      <h4 class="text-xl font-semibold mb-4">検索結果: "<%= params[:query] %>"</h4>
    <% end %>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <% @posts.each do |post| %>
        <div class="border border-black p-4 rounded-lg shadow-lg">
          <% if post.video_file.attached? %>
            <video class="w-full" controls>
              <source src="<%= url_for(post.video_file) %>" type="video/mp4">
              お使いのブラウザでは動画再生に対応していません。
            </video>
          <% end %>

          <% if post.video_url.present? %>
            <% 
              video_id_match = post.video_url.match(/(?:https?:\/\/(?:www\.)?youtube\.com\/(?:[^\/\n\s]+\/\S+|(?:v|e(?:mbed)?)\/?([^\/\n\s]*))|youtu\.be\/([^\/\n\s]+))/)
              video_id = video_id_match ? (video_id_match[1] || video_id_match[2] || video_id_match[3]) : nil
            %>
            <% if video_id %>
              <iframe class="w-full" height="240" src="https://www.youtube.com/embed/<%= video_id %>" frameborder="0" allowfullscreen></iframe>
            <% end %>
          <% end %>

          <p class="text-sm text-gray-500">投稿者: <%= post.user_name %></p>
          <h4 class="text-lg font-semibold mt-2">
            タイトル: <%= link_to post.title, detail_post_path(post), class: 'text-blue-500 hover:underline' %>
          </h4>
          <p class="mt-2 text-sm text-gray-600">説明欄: <%= post.description %></p>
          <p class="mt-2 text-sm">タグ: 
            <%= post.tags.map do |tag| %>
              <%= link_to tag.name, posts_path(tag_list: tag.name), class: 'text-blue-500 hover:underline' %> 
            <% end.reject(&:blank?).join(', ') %>
          </p>

          <div class="flex items-center gap-4 mt-4">
            <%= render "likes/btn", post: post %>

            <% hashtags = "#GAMES_MEMORY,#思い出の共有" %>
            <% twitter_share_url = "https://twitter.com/share?text=#{CGI.escape(post.title)}%0A#{CGI.escape(hashtags)}%0A&url=#{CGI.escape(detail_post_url(post))}" %>
            <%= link_to twitter_share_url, target: '_blank', class: "text-gray-600 hover:text-gray-800", data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
              <img src="<%= asset_path('985bad170e1e402f666512e7ab9de011.png') %>" alt="Twitter Share" class="w-6 h-6" />
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
