<h3 class="font-bold mx-2.5">動画投稿</h3>

<%= form_with model: @post, local: true do |form| %>
  <div class="form-group pl-2 py-4">
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title, class: 'form-control border border-black p-2', required: true %>
  </div>

  <div class="form-group pl-2 py-4">
    <%= form.label :description, '説明欄' %>
    <%= form.text_area :description, class: 'form-control border border-black p-2', required: true %>
  </div>

  <p>YouTubeの動画URLと動画ファイルを同時に選択出来ます!</p>
  <p>どちらとも入力していない場合は投稿出来ません！！</p>

  <div class="pl-2 py-4">
    <%= form.label :video_url, "YouTubeの動画URL" %>
    <%= form.text_field :video_url, class: 'form-control border border-black p-2' %>
    <small>例: https://www.youtube.com/watch?v=XXXXXX</small>
  </div>

  <div class="pl-2 py-4">
    <%= form.label :video_file, "動画ファイルをアップロード" %>
    <%= form.file_field :video_file %>
  </div>

  <div class="pl-2 py-4">
    <%= form.select :predefined_tags, options_for_select([
      'PlayStation 3', 'PlayStation 4', 'PlayStation 5', 'Switch', 'Wii', '3DS', 'PC', 'その他'
    ]), {}, class: 'form-control border border-black p-2' %>
    <small>ジャンルを選択してください。</small>
  </div>

  <div class="pl-2 py-4">
    <%= form.label :tag_list, "タグ" %>
    <%= form.text_field :tag_list, value: @post.tags.map(&:name).join(", "), class: 'form-control border border-black p-2' %>
    <small>タグはカンマで区切って入力してください。（例)Switch,3DS,PlayStation4,PlayStation5</small>
  </div>

  <div class="pl-2 py-4">
    <%= form.submit "投稿する", class: 'btn btn-primary' %>
  </div>
<% end %>
