<h3>動画投稿</h3>

<%= form_with model: @post, local: true do |form| %>
  <div>
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :説明 %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :video_url, "YouTubeの動画URL" %>
    <%= form.text_field :video_url %>
    <small>例: https://www.youtube.com/watch?v=XXXXXX</small>
  </div>

  <div>
    <%= form.label :video_file, "動画ファイルをアップロード" %>
    <%= form.file_field :video_file %>
  </div>

  <div>
    <%= form.submit "投稿する" %>
  </div>
<% end %>
