<h1 class="font-bold mx-2.5"><%= current_user.name %>の記録</h1>

<div class="button-group">
  <!-- デスクトップ表示用: 投稿ボタン (横一列に並べる) -->
  <div class="hidden sm:flex space-x-4">
    <%= link_to '動画投稿', new_post_path, class: 'btn btn-primary my-5 mx-2.5' %>
    <%= link_to 'スレッド投稿', new_sureddo_path, class: 'btn btn-primary my-5 mx-2.5' %>
    <%= link_to '掲示板一覧', root_path, class: 'btn btn-secondary my-5 mx-2.5' %>
    <%= link_to 'ログアウト', destroy_user_session_path, data: { method: :delete }, class: 'btn btn-danger my-5 mx-2.5' %>
  </div>

  <div class="sm:hidden relative inline-block text-left">
    <button type="button" class="btn btn-sm text-sm text-gray-700 hover:text-blue-500 inline-flex justify-center items-center mx-2.5" id="dropdownMenuButton" aria-expanded="false">
      投稿メニュー
      <svg class="ml-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>

    <div class="dropdown-menu absolute left-4 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden z-10" id="dropdownMenu">
      <div class="py-1">
        <%= link_to '動画投稿', new_post_path, class: 'block text-gray-700 hover:bg-gray-100 px-4 py-2 text-sm' %>
        <%= link_to 'スレッド投稿', new_sureddo_path, class: 'block text-gray-700 hover:bg-gray-100 px-4 py-2 text-sm' %>
      </div>
    </div>
    <%= link_to '掲示板一覧', root_path, class: 'btn btn-secondary my-5 mx-2.5' %>
    <%= link_to 'ログアウト', destroy_user_session_path, data: { method: :delete }, class: 'btn btn-danger my-5 mx-2.5' %>
  </div>
</div>

<%= link_to 'いいねした投稿はこちらから！', like_show_posts_path, class: 'btn btn-info my-5 mx-2.5' %>

<h2 class="text-2xl font-semibold mb-6 mx-2.5">自分の投稿一覧</h2>
<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-8">
  <% @posts.each do |post| %>
    <div class="border border-black p-4 rounded-lg shadow-lg mx-2.5">
      <% if post.video_file.attached? %>
        <video class="w-full" controls>
          <source src="<%= url_for(post.video_file) %>" type="video/mp4">
          お使いのブラウザでは動画再生に対応していません。
        </video>
      <% end %>

      <% if post.video_url.present? %>
        <% 
          video_id_match = post.video_url.match(/(?:https?:\/\/(?:www\.)?youtube\.com\/(?:[^\/\n\s]+\/\S+|(?:v|e(?:mbed)?)\/?([^\/\n\s]*))|youtu\.be\/([^\/\n\s]+))/)
          video_id = video_id_match ? (video_id_match[1] || video_id_match[2] || video_id_match[3]) : nil
        %>
        <% if video_id %>
          <iframe class="w-full" height="240" src="https://www.youtube.com/embed/<%= video_id %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
      <% end %>

      <p class="text-sm text-gray-500">投稿者: <%= post.user_name %></p>
      <h4 class="text-lg font-semibold mt-2">
        タイトル: <%= link_to post.title, detail_post_path(post), class: 'text-blue-500 hover:underline' %>
      </h4>
      <p class="mt-2 text-sm text-gray-600">説明欄: <%= post.description %></p>
      <p class="mt-2 text-sm">タグ: 
        <%= post.tags.map do |tag| %>
          <%= link_to tag.name, posts_path(tag_list: tag.name), class: 'text-blue-500 hover:underline' %> 
        <% end.reject(&:blank?).join(', ') %>
      </p>

      <div class="flex items-center gap-4 mt-4">
        <%= render "likes/btn", post: post %>
        <% hashtags = "#GAMES_MEMORY,#思い出の共有" %>
        <% twitter_share_url = "https://twitter.com/share?text=#{CGI.escape(post.title)}%0A#{CGI.escape(hashtags)}%0A&url=#{CGI.escape(detail_post_url(post))}" %>
        <%= link_to twitter_share_url, target: '_blank', class: "text-gray-600 hover:text-gray-800", data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
          <img src="<%= asset_path('985bad170e1e402f666512e7ab9de011.png') %>" alt="Twitter Share" class="w-6 h-6" />
        <% end %>
      </div>
      <% if current_user == post.user %>
        <div class="button-group flex">
          <%= link_to '編集', edit_post_path(post), class: 'btn btn-primary mr-6' %>
          <%= form_with(model: post, method: :delete, local: true, class: 'd-inline') do |form| %>
            <%= form.submit '削除', class: 'btn btn-danger' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-8">
  <% @sureddos.each do |sureddo| %>
    <div class="border border-black p-4 rounded-lg shadow-lg">
      <% if sureddo.image.present? %>
        <img src="<%= url_for(sureddo.image) %>" alt="画像が読み込めませんでした" class="w-full h-auto rounded-md mb-4">
      <% end %>
      <p class="text-sm text-gray-600">投稿者: <%= sureddo.user_name %></p>
      <h4 class="text-lg font-semibold mt-2">
        タイトル: <%= link_to sureddo.title, sureddo_path(sureddo), class: 'text-blue-500 hover:underline' %>
      </h4>
      <p class="mt-2 text-sm text-gray-600">説明欄: <%= sureddo.description %></p>
      <p class="mt-2 text-sm text-gray-600">タグ: 
        <%= sureddo.tags.map do |tag| %>
          <%= link_to tag.name, sureddos_path(tag_list: tag.name), class: 'text-blue-500 hover:underline' %>
        <% end.reject(&:blank?).join(', ') %>
      </p>
      <div class="flex items-center gap-4 mt-4">
        <%= render "likes/sureddo_btn", sureddo: sureddo %>
        <% hashtags = "#GAMES_MEMORY,#スレッドで盛り上がろう,#思い出の共有" %>
        <% twitter_share_url = "https://twitter.com/share?text=#{CGI.escape(sureddo.title)}%0A#{CGI.escape(hashtags)}%0A&url=#{CGI.escape(sureddo_url(sureddo))}" %>
        <%= link_to twitter_share_url, target: '_blank', class: "text-gray-600 hover:text-gray-800", data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
          <img src="<%= asset_path('985bad170e1e402f666512e7ab9de011.png') %>" alt="Twitter Share" class="w-6 h-6" />
        <% end %>
      </div>
      <% if current_user == sureddo.user %>
        <div class="button-group flex">
          <%= link_to '編集', edit_sureddo_path(sureddo), class: 'btn btn-primary mr-6' %>
          <%= form_with(model: sureddo, method: :delete, local: true) do |form| %>
              <%= form.submit '削除', class: 'btn btn-danger' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
