<%= render 'shared/header' %>

<%= link_to '掲示板一覧はこちら！', root_path, class: 'btn btn-secondary' %>

<%= render 'sureddos/search_form' %>

<div class="main-content">
  <h4>スレッド一覧にようこそ！</h4>
  <div id="sureddo-posts" class="posts">
    <% @sureddos.each do |sureddo| %>
      <div class="post">
        <% if sureddo.image.present? %>
          <img src="<%= url_for(sureddo.image) %>" alt="画像が読み込めませんでした">
        <% end %>
        <p>投稿者: <%= sureddo.user_name %></p>
        <h4>タイトル: <%= link_to sureddo.title, sureddo_path(sureddo),  class: 'btn' %></h4>
        <p>説明欄: <%= sureddo.description %></p>
        <p>タグ: 
          <%= sureddo.tags.map do |tag| %>
            <%= link_to tag.name, sureddos_path(tag_id: tag.id), class: 'badge badge-info' %>
          <% end.reject(&:blank?).join(', ') %>
        </p>
        <%= render "likes/sureddo_btn", sureddo: sureddo %>
      </div>
    <% end %>
  </div>
</div>
