<%= render 'shared/header' %>

<%= link_to '掲示板一覧はこちら！', root_path, class: 'btn btn-secondary' %>

<%= render 'sureddos/search_form' %>

<div class="main-content">
  <h4>スレッド一覧にようこそ！</h4>
  <div id="sureddo-posts" class="posts">
    <% @sureddos.each do |sureddo| %>
      <div class="post">
        <% if sureddo.image.present? %>
          <img src="<%= url_for(sureddo.image) %>" alt="画像が読み込めませんでした">
        <% end %>
        <p>投稿者: <%= sureddo.user_name %></p>
        <h4>タイトル: <%= link_to sureddo.title, sureddo_path(sureddo),  class: 'btn' %></h4>
        <p>説明欄: <%= sureddo.description %></p>
        <p>タグ: 
          <%= sureddo.tags.map do |tag| %>
            <%= link_to tag.name, sureddos_path(tag_id: tag.id), class: 'badge badge-info' %>
          <% end.reject(&:blank?).join(', ') %>
        </p>
        <div class="flex items-center gap-4">
          <%= render "likes/sureddo_btn", sureddo: sureddo %>

          <% hashtags = "#GAMES_MEMORY,#スレッドで盛り上がろう,#思い出の共有" %>
          <% twitter_share_url = "https://twitter.com/share?text=#{CGI.escape(sureddo.title)}%0A#{CGI.escape(hashtags)}%0A&url=#{CGI.escape(sureddo_url(sureddo))}" %>
          <%= link_to twitter_share_url, target: '_blank', class: "text-gray-600 hover:text-gray-800", data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
            <img src="<%= asset_path('985bad170e1e402f666512e7ab9de011.png') %>" alt="Twitter Share" class="w-6 h-6" />
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
