<%= render 'shared/header' %>

<div class="search">
  <form class="search-form" action="<%= sureddos_path %>" method="get">
    <input type="text" name="query" placeholder="タイトルで検索" class="search-input">
    <button type="submit" class="search-btn">検索</button>
  </form>
</div>

<%= link_to '掲示板一覧はこちら！', root_path, class: 'btn btn-secondary' %>

<div class="main-content">
  <h4>スレッド一覧にようこそ！</h4>
  <div id="sureddo-posts" class="posts">
    <% @sureddos.each do |sureddo| %>
      <div class="post">
        <% if sureddo.image.present? %>
          <img src="<%= url_for(sureddo.image) %>" alt="画像が読み込めませんでした">
        <% end %>
        <p>投稿者: <%= sureddo.user_name %></p>
        <h4>タイトル: <%= link_to sureddo.title, sureddo_path(sureddo),  class: 'btn' %></h4>
        <p>説明欄: <%= sureddo.description %></p>
      </div>
    <% end %>
  </div>
</div>
