<%= render 'shared/header' %>

<%= link_to '掲示板一覧はこちら！', root_path, class: 'btn btn-secondary' %>

<%= render 'sureddos/search_form' %>

<div class="flex mt-8">
  <!-- 左側のジャンルリスト -->
  <div class="w-1/4 p-4">
    <h4 class="text-xl font-semibold mb-6">ジャンル</h4>
    <ul class="space-y-4">
      <li><%= link_to 'PlayStation 3', sureddos_path(tag_list: 'PlayStation 3'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to 'PlayStation 4', sureddos_path(tag_list: 'PlayStation 4'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to 'PlayStation 5', sureddos_path(tag_list: 'PlayStation 5'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to 'Switch', sureddos_path(tag_list: 'Switch'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to 'Wii', sureddos_path(tag_list: 'Wii'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to '3DS', sureddos_path(tag_list: '3DS'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to 'PC', sureddos_path(tag_list: 'PC'), class: 'text-blue-500 hover:underline' %></li>
      <li><%= link_to 'その他', sureddos_path(tag_list: 'その他'), class: 'text-blue-500 hover:underline' %></li>
    </ul>
  </div>

  <!-- 右側の動画投稿一覧 -->
  <div class="w-3/4 p-4">
    <h3 class="text-2xl font-semibold mb-6">スレッド一覧にようこそ！</h3>

    <% if params[:query].present? %>
      <h4 class="text-xl font-semibold mb-4">検索結果: "<%= params[:query] %>"</h4>
    <% end %>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <% @sureddos.each do |sureddo| %>
        <div class="post mb-6 p-4 border rounded-lg shadow-md">
          <% if sureddo.image.present? %>
            <img src="<%= url_for(sureddo.image) %>" alt="画像が読み込めませんでした" class="w-full h-auto rounded-md mb-4">
          <% end %>
          <p class="text-sm text-gray-600">投稿者: <%= sureddo.user_name %></p>
          <h4 class="text-lg font-semibold mt-2">
            タイトル: <%= link_to sureddo.title, sureddo_path(sureddo), class: 'text-blue-500 hover:underline' %>
          </h4>
          <p class="mt-2 text-sm text-gray-600">説明欄: <%= sureddo.description %></p>
          <p class="mt-2 text-sm text-gray-600">タグ: 
            <%= sureddo.tags.map do |tag| %>
              <%= link_to tag.name, sureddos_path(tag_list: tag.name), class: 'text-blue-500 hover:underline' %>
            <% end.reject(&:blank?).join(', ') %>
          </p>
          <div class="flex items-center gap-4 mt-4">
            <%= render "likes/sureddo_btn", sureddo: sureddo %>

            <% hashtags = "#GAMES_MEMORY,#スレッドで盛り上がろう,#思い出の共有" %>
            <% twitter_share_url = "https://twitter.com/share?text=#{CGI.escape(sureddo.title)}%0A#{CGI.escape(hashtags)}%0A&url=#{CGI.escape(sureddo_url(sureddo))}" %>
            <%= link_to twitter_share_url, target: '_blank', class: "text-gray-600 hover:text-gray-800", data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
              <img src="<%= asset_path('985bad170e1e402f666512e7ab9de011.png') %>" alt="Twitter Share" class="w-6 h-6" />
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
