<div class="main-content">
  <h4>スレッド詳細</h4>

  <p>投稿者: <%= @sureddo.user_name %></p>

  <% if @sureddo.image.attached? %>
    <img src="<%= url_for(@sureddo.image) %>" alt="画像が読み込めませんでした">
  <% end %>

  <h4>タイトル: <%= @sureddo.title %></h4>
  <p>説明: <%= @sureddo.description %></p>
  <p>タグ: 
    <%= @sureddo.tags.map do |tag| %>
      <%= link_to tag.name, sureddos_path(tag_id: tag.id), class: 'badge badge-info' %>
    <% end.reject(&:blank?).join(', ') %>
  </p>
  <div class="flex items-center gap-4">
    <%= render "likes/sureddo_btn", sureddo: @sureddo %>

    <% hashtags = "#GAMES_MEMORY,#スレッドで盛り上がろう,#思い出の共有" %>
    <% twitter_share_url = "https://twitter.com/share?text=#{CGI.escape(@sureddo.title)}%0A#{CGI.escape(hashtags)}%0A&url=#{CGI.escape(sureddo_url(@sureddo))}" %>
    <%= link_to twitter_share_url, target: '_blank', class: "text-gray-600 hover:text-gray-800", data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
      <img src="<%= asset_path('985bad170e1e402f666512e7ab9de011.png') %>" alt="Twitter Share" class="w-6 h-6" /> <!-- 30pxに設定 -->
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
<h5>コメントを投稿しよう！</h5>
  <%= form_with(model: [@sureddo, Comment.new], local: true) do |form| %>
    <div class="form-group">
      <%= form.label :content, 'コメント投稿欄！' %>
      <%= form.text_area :content, class: 'form-control', required: true %>
    </div>
    
    <div class="form-group">
      <%= form.submit '投稿', class: "btn btn-primary" %>
    </div>
  <% end %>
<% else %>
  <%= link_to 'ログインをするとコメントできる！！', new_user_session_path, class: 'btn' %>
<% end %>

<h5>コメント一覧</h5>
<% if @sureddo.comments.present? %>
  <% @sureddo.comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.user.name %>さんのコメント:</p>
      <p><%= comment.content %></p>
    </div>
  <% end %>
<% else %>
  <p>コメントはまだありません。</p>
<% end %>
