<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "GAMES_MEMORY" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags %>
  </head>

  <body>
    <div 
      data-controller="modal"
      data-modal-target="modal"
      class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50 hidden">
      <div class="bg-white p-6 rounded shadow-md max-w-lg w-full">
        <h2 class="text-xl font-semibold mb-4">アプリの使い方</h2>
        <p class="mb-4">
          GAMES_MEMORYにようこそ！<br>
          このサイトでは思い出深いゲームやハマったゲーム動画を埋め込んだり、スレッドを投稿してもらい
          色々な世代の人気なゲームからマイナーなゲームまで気軽に共有できるサービスです。<br>
          まずはGoogleでログインしてみよう<br>
          ログインをすると以下のことが出来るようになります<br>
          （投稿、コメント、いいね）<br>
          ぜひ皆様のおすすめのゲームをどんどんと共有してください！
        </p>
        <button 
          data-action="click->modal#close"
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
          閉じる
        </button>
      </div>
    </div>
    <div data-controller="loading">
      <div data-loading-target="infinity" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-40 hidden">
        <div class="h-[150px] w-[150px] flex items-center justify-center">
          <span class="loading loading-infinity text-default w-full h-full"></span>
        </div>
      </div>
      <%= yield %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
